body {
    background-color: #000000e0;
    text-align: center;
    justify-content: center;
    display: flex;
    font-family: Arial;
}

.container {
    width: 50%;
    border: 1.5px solid gray;
    background-color: white;
    color: blueviolet;
    border-radius: 15px;
    margin-top: 40px;
}

.cabecera {
    padding: 0px;
    background-color: blue;
    border-radius: inherit;
    justify-content: space-evenly;
    display: flex;
    color: white;
    text-shadow: 1px 3px 5px #383232;
    box-shadow: 6px 3px 2px black;
    align-items: center;
    height: 39px;
}

.lagtime
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.1em;
    font-weight: 400;
}

.hyper {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    vertical-align: middle;
}
#dragon-logo {
    width: 25px;
    margin: 0;
}

.logo_container {
    padding: 0;
    margin: 0;
    height: 25px;
    font-family: 'Arial Narrow Bold', sans-serif;
    font-size: 0.9em;
}

footer {
    background-color:#7cd2ff;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 16px;
}